body {background-color: ; text-align: justufy;font-size: 18pc;} 
h1 [{text-align: center;backgraund-color: ;color: ;}
h3 {text-align; justify;color: ;}
b{color: ;font-size: 18px;}
header, footer{backgraund-color: ; color ;text-align: center;font-size: 18px;}
main {background-color: ;}