body {background-color:#F5F2F0 ; text-align: justify;font-size: 15px;} 
h1 {text-align: center;background-color:#ffffff ;color: #562802 ;}
h3 {text-align; justify;color: ;}
b{color:#E06D88 ;font-size: 15px;}
header, footer{background-color:#E06D88 ; color ;text-align: center;font-size: 15px;}
main {background-color:#F5F2F0 ;}