body {background-color:#F5F2F0 ; text-align: justufy;font-size: 15px;} 
h1 {text-align: center;backgraund-color:#562802 ;color: #562802 ;}
h3 {text-align; justify;color: ;}
b{color:#E06D88 ;font-size: 15px;}
header, footer{backgraund-color:#E06D88 ; color ;text-align: center;font-size: 15px;}
main {background-color:#F5F2F0 ;}